body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

input:focus, button:focus {
    outline: none;
}

h1{
    background: #d2d2d2;
    color: rgb(112, 112, 112);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: 0;
    padding: 10px;
}

h1 span {
    float: right;
    color: rgba(0, 0, 0, 0.5);
    transition: .3s;
}

h1 span:hover {
    cursor: pointer;
    color: black;
    transition: .3s;
}

h5{
    padding: 15px;
    margin: 5px;
    background: #d2d2d2; 
}

h4{
    background: #d2d2d2;
    color: rgb(112, 112, 112);
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 25px;
    border-bottom: 2px solid black;
}

hr{
    width: 97.5%;
}

form{
    margin: 0px;
}

.container {
    color: white;
    max-width: 90%;
    max-height: 750px;
    margin: 10px auto;
    bottom: 50px;
    border: 2px solid black;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
}

.messages{
    padding: 15px;
    margin: 5px;
    background: #424242;
}

.inbox {
    border-top: 2px solid black;
    display: flex;
}

.inbox__people {
    width: 30%;
    overflow: hidden auto;
}

.inbox__messages {
    width: 70%;
    overflow: hidden auto;
    height: 600px;
    border-left: 2px solid black;
    padding: 5px;
    position: relative;
}

.inbox__messages::-webkit-scrollbar {
    width: 10px;
}


.inbox__messages::-webkit-scrollbar-thumb {
    background: #424242;
}

.messages__container{
    color: black;
    margin: 2px;
}

.messages__history {
    margin-bottom: 25px;
}

form{
    float: right;
}

.sent__message {
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.sent__message p {
    width: fit-content;
    color: rgb(238, 238, 238);
    background: rgb(0, 140, 255);
    padding: 10px;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    max-width: 80%;
}

.message__info  {
    margin-top: -15px;
    font-size: 13px;
}

.received__message {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.received__message p {
    width: fit-content;
    color: rgb(0, 0, 0);
    background: rgb(200, 200, 200);
    padding: 10px;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    max-width: 80%;
}


.message_form__input{
    color: white;
    width: 300px;
    background: #424242;
    border: 2px solid black;
}

.message_form__button{
    background: #424242;
    border: 2px solid black;
    cursor: pointer;
}

#charcount {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
    user-select: none;
}

.chat_ib {
    color: rgba(0, 0, 0, 1);
}

.chat_ib span {
    float: right;
    color: limegreen;
}

.fallback {
    position: absolute;
    color: rgba(0, 0, 0, 0.8);
}