body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: rgb(240, 240, 240);
    max-width: 90%;
    max-height: 700px;
    margin: 50px auto;
    bottom: 50px;
}

.inbox {
    display: flex;
}

.inbox__people {
    border: 2px solid black;
    width: 30%;
}

.inbox__messages {
    width: 70%;
    border: 2px solid black;
    overflow: auto;
    height: 700px;
}

.sent__message {
    width: 100%;
    text-align: right;
    background: white;
}